.content {
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;

    .content-wrapper {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        gap: 2rem;

        .screen {
            //padding: 15rem;
            transition: 1s;
            border: solid 1px white;
        }

        .modification-wrapper {
            transition: 1s;
            opacity: 1;
            .sensor-style-indicator {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 10px;
            }
    
            .sensor-ui-wrapper {
                .sensor-inputs {
                    display: flex;
                    gap: 1.5rem;
                    padding-top: 1rem;
                }
                .style-inputs {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 1rem;
                }
                .input-header {
                    padding-top: 20px;
                }
            }

            .minimize-btn {
                display: flex;
                width: 6rem;
                height: 1.5rem;
                margin-top: 2rem;
            }
            
            
        }
    }

    .content-wrapper.minimized {
        .control-wrapper {
            opacity: 0;
            visibility: hidden;
            transform: translateX(-50%);
            transition: 1s;

            //display: none;
        }
        .screen {
            transform: translateX(50%);
            transition: 1s;
        }
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-direction: column;
        .minimize-btn {
            position: absolute;
            transform: translate(20rem, 11rem);
            transition: 1s;
            
        }
        
    }
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height: 3rem;
        background-color: black;
        color: white;
        border: 1px solid white;
        border-radius: 0.25rem;
    }
}
